<ion-header>
  <ion-toolbar color="canasta">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de la APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img fill="outline" src="http://35.199.113.136/tiendaEP/img/upec-creativa-ep-logo-1561080844.jpg">
    <ion-card-content style="text-align: justify;">
      Una app para la venta de productos de la canasta trans-fronteriza, es una herramienta más para comercializar
      nuestros productos ya que ayudará a que los comerciantes, por ejemplo de Tulcán que ahora se han visto afectados
      por la depreciación del peso colombiano, puedan traer productos a escala (a un mejor precio) y venderlos al mismo
      precio que en Ipiales, así los ciudadanos ecuatorianos no cruzarán la frontera para adquirir los productos.
    </ion-card-content>
  </ion-card>

</ion-content>