<ion-header no-border>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <img fill="outline" src="../../../assets/img/logo_avatar.png" style="height: 150px; width: 150px;">
    </ion-slide>
  </ion-slides>

  <form #formulario="ngForm">

      <!-- (ngSubmit)="onSubmitTemplate()" -->

    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text"
                 name="nombre"
                 [(ngModel)]="logindata.nombre"           
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos:</ion-label>
      <ion-input type="text"
                 name="apellidos"
                 [(ngModel)]="logindata.apellidos"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email"
                 name="email"
                 [(ngModel)]="logindata.correo"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password"
                 name="password"
                 [(ngModel)]="logindata.password"
                 required></ion-input>
    </ion-item>

    <br>
    <ion-slides class="swiper-no-swiping">
      <ion-slide>
        <ion-button expand="full" 
                    fill="outline" 
                    shape="round" 
                    color="canasta"
                    type="submit" 
                    (click)="submit()">
          Crear cuenta
        </ion-button>
      </ion-slide>
    </ion-slides>
    <br>
    <ion-label color="primary" routerLink="/login">
      <h2 class="centrar">¿Ya tiene una cuenta? Ingrese aquí</h2>
  </ion-label>
    
    
  </form>
</ion-content>