<ion-header>
    <ion-toolbar  color="canasta">
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
      <ion-title>{{producto.categoria}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  
      <ion-card *ngFor="let p of producto">
          <ion-list>
            <ion-item>          
              <ion-thumbnail slot="start">
                  <img src="{{p.urlImagen}}" style="height: 85px; width: 60px;">
                </ion-thumbnail>
              <ion-label text-wrap>
                <h3 style="font-weight: bold;">
                  {{ p.nombre}}
                </h3>
                <h4 style="padding-top: 12px;">
                  {{ p.precio }} $
                </h4>
                <p>
                  <ion-buttons slot="start">
                    <ion-button (click)="onClick()" color="primary">
                      <ion-icon slot="start" name="cart"></ion-icon>
                    </ion-button>
                    <ion-button color="canasta" [routerLink]="['/','inicio', p.id_producto]">
                      <ion-icon slot="start" name="eye"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>

</ion-content>