<ion-header>
  <ion-toolbar color="canasta">
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Todos los productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <app-cproductos [productos]="productos"> </app-cproductos>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando datos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>  -->

</ion-content>
