<ion-header>
  <ion-toolbar color="canasta">
    <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{information?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="{{information?.urlImagen}}">
      <ion-card-subtitle>{{information?.precio}}</ion-card-subtitle>
      <ion-card-title>{{information?.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="descripcion">
      <p>{{information?.descripcion | slice: 0: oculto}}...</p>
      <ion-label color="primary"
                 (click)=" oculto = 5000"
                 *ngIf="oculto !== 5000">Leer más</ion-label>
    </ion-card-content>
    <ion-button shape="round" expand="full" size="small" fill="outline" color="primary" (click)="agregarCarro()">
      <ion-icon name="cart"></ion-icon>
      Agregar al carrito
    </ion-button>
    <ion-button shape="round" expand="full" size="small" fill="outline" color="canasta" routerLink="/carrito">
      <ion-icon name="eye"></ion-icon>
      Ver carrito
    </ion-button>
  </ion-card>
</ion-content>
