<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="canasta" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>

    <ion-slides [options]="swiperOpts" class="swiper-no-swiping">
      <ion-slide>
        <img fill="outline" src="http://35.199.113.136/tiendaEP/img/upec-creativa-ep-logo-1561080844.jpg"
          style="height: 65px;">
      </ion-slide>
    </ion-slides>


    <ion-buttons slot="end" padding>
      <ion-button routerLink="/busqueda" color="dark">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button routerLink="/carrito" color="canasta">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
      </ion-button>
      <span>
        <h6 style="font-weight: bold; color: blue;">1</h6>
      </span>
    </ion-buttons>

  </ion-toolbar>
</ion-header>




<!--CONTENIDO-->

<ion-content>

  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios">
        <img [src]="slide.img" style="height: 135px;">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-text class="texto1">
    <h1>Novedades</h1>
  </ion-text>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-lg *ngFor="let p of producto">

        <ion-card color="light">

          <ion-card-header>
            <ion-card-subtitle>{{p.nombre.substring(0,20)}}...</ion-card-subtitle>
            <img src="{{p.urlImagen}}">
            <ion-card-title>{{p.precio}} $</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-buttons>
              <ion-button color="canasta" (click)="verDetalle( p.id_producto)">
                <ion-icon name="eye"></ion-icon>
                Ver
              </ion-button>
            </ion-buttons>
            <!-- <ion-buttons>
              <ion-button color="primary">
                <ion-icon name="cart"></ion-icon>
                Agregar
              </ion-button>
            </ion-buttons> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-button expand="full" fill="outline" shape="round" color="primary" routerLink="/productos">
        Todos los productos
      </ion-button>
    </ion-slide>
  </ion-slides>
  <br>

  <!-- <ion-button routerLink="/productos" class="ion-align-items-center">
    <ion-icon slot="start" name="add"></ion-icon>
    Todos los productos
  </ion-button> -->


  <ion-item-divider color="canasta" class="ion-align-items-center">
    <ion-text class="texto1">
      <h2>Televisores...</h2>
    </ion-text>
  </ion-item-divider>

  <ion-slides pager="true" class="slide-full" [options]="slideOpts">

    <ion-slide *ngFor="let t of televisores">
      <ion-card color="light" (click)="verDetalle( t.id_producto)">
        <ion-card-header>
          <ion-card-subtitle>{{t.nombre.substring(0,20)}}...</ion-card-subtitle>
          <img src="{{t.urlImagen}}">
          <ion-card-title>{{t.precio}} $</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- <ion-buttons>
            <ion-button color="canasta" (click)="verDetalle( t.id_producto)">
              <ion-icon name="eye"></ion-icon>
              Ver
            </ion-button>
          </ion-buttons> -->
          <!-- <ion-buttons>
            <ion-button color="primary">
              <ion-icon name="cart"></ion-icon>
              Agregar
            </ion-button>
          </ion-buttons> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>



  <ion-item-divider color="canasta" class="ion-align-items-center">
    <ion-text class="texto1">
      <h2>Teléfonos...</h2>
    </ion-text>
  </ion-item-divider>

  <ion-slides pager="true" class="slide-full" [options]="slideOpts">
    <ion-slide *ngFor="let te of telefonos">
      <ion-card color="light" (click)="verDetalle( te.id_producto)">

        <ion-card-header>
          <ion-card-subtitle>{{te.nombre.substring(0,20)}}...</ion-card-subtitle>
          <img src="{{te.urlImagen}}">
          <ion-card-title>{{te.precio}} $</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- <ion-buttons>
            <ion-button color="canasta" (click)="verDetalle( te.id_producto)">
              <ion-icon name="eye"></ion-icon>
              Ver
            </ion-button>
          </ion-buttons> -->
          <!-- <ion-buttons>
            <ion-button color="primary" (click)="agregarCarro()">
              <ion-icon name="cart"></ion-icon>
              Agregar
            </ion-button>
          </ion-buttons> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <!-- <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-button expand="full" fill="outline" shape="round" color="canasta" routerLink="/productos">
        Todos los productos
      </ion-button>
    </ion-slide>
  </ion-slides> -->


  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg *ngFor="let c of categorias">
        <ion-card>
          <img src="{{c.urlImagen}}">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>