<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button color="canasta" menu="primerMenu">
      </ion-menu-button>
    </ion-buttons>

    <ion-slides [options]="swiperOpts">
      <ion-slide>
        <img fill="outline" src="http://35.199.113.136/tiendaEP/img/upec-creativa-ep-logo-1561080844.jpg"
          style="height: 65px;">
      </ion-slide>
    </ion-slides>


    <ion-buttons slot="end">
      <ion-button (click)="abrirCarrito()" color="canasta">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--CONTENIDO-->

<ion-content>
  
  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let slide of slides">
     <ion-card mode="ios">
       <img [src]="slide.img" style="height: 135px;">
     </ion-card>
    </ion-slide>
  </ion-slides>


  <!--
  <div *ngFor="let p of producto">
      <ion-item-divider> 
    <ion-list>
        
      <ion-list-header>{{p.nombre}}</ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{p.urlImagen}}">
        </ion-thumbnail>
        <ion-label>
          <p style="font-size: 11pt;">
            {{p.precio}} $
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-divider>
  </div>
  -->

  <!-- <div *ngFor="let p of producto">
    i-ra
      <ion-card-header>
          <ion-card-subtitle>{{p.nombre}}</ion-card-subtitle>
          <img src="{{p.urlImagen}}">
          <ion-card-title>{{p.precio}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          
        </ion-card-content>
  </div> -->

<ion-text class="texto1">
  <h1>Novedades</h1>
</ion-text>

  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let p of producto">

    <ion-card color="light">

        <ion-card-header>
            <ion-card-subtitle>{{p.nombre}}</ion-card-subtitle>
            <img src="{{p.urlImagen}}">
            <ion-card-title>{{p.precio}} $</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <ion-segment color="dark">
                
                  <ion-segment-button href="#dogs" value="agregar">
                    <ion-icon name="cart" color="primary"></ion-icon>
                    <ion-label>Agregar</ion-label>
                  </ion-segment-button>

                  <ion-segment-button value="detalles" [routerLink]="['/','inicio', p.id_producto]">
                    <ion-icon name="eye" color="warning"></ion-icon>
                    <ion-label>Detalles</ion-label>
                  </ion-segment-button>

                  <ion-segment-button href="#cats" value="favorito">
                      <ion-icon name="heart" color="danger"></ion-icon>
                      <ion-label>Favorito</ion-label>
                  </ion-segment-button>

              </ion-segment>
          </ion-card-content>

          
    </ion-card>
    </ion-col>
  </ion-row>

  

</ion-content>