<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>

  <!-- <img src="./assets/imgs/logo1.png" style="width: 70%; margin: auto; padding: 20px;"> -->
  <br>
  <br>
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <img fill="outline" src="../../../assets/img/logoMini.png" style="height: 150px; width: 150px;">
    </ion-slide>
  </ion-slides>

  <form #formulario="ngForm">
    <ion-item>
      <ion-label floating>
        Email:
      </ion-label>
      <ion-input type="text"
                 name="usuario"  
                 [(ngModel)]="logindata.usuario"
                 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Contraseña:
      </ion-label>
      <ion-input type="password"
                 name="password" 
                 [(ngModel)]="logindata.password"
                 required></ion-input>
    </ion-item>
  </form>
  <br>
  <br>

  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-button expand="full" 
                  fill="outline" 
                  shape="round" 
                  color="canasta"
                  type="submit" 
                  (click)="login()">
        Iniciar sesión
      </ion-button>
    </ion-slide>
  </ion-slides>
  <br>
  <ion-label color="primary" routerLink="/registro">
      <h2 class="centrar">¿No tiene una cuenta? Cree una aquí</h2>
  </ion-label>

  <!-- boton de registro -->
  <!-- <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-button expand="full" fill="outline" shape="round" color="canasta" routerLink="/registro">
        Registrarse
      </ion-button>
    </ion-slide>
  </ion-slides> -->

  <!-- <button ion-button block color="danger" (click)="login()">
      Login
    </button> -->

  <!-- <button ion-button clear block color="danger">
    No Account? Sign up Here
  </button> -->

</ion-content>