<ion-header>
  <ion-toolbar color="canasta">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides *ngIf="carritoService.productos.length === 0" style="padding-top: 60px;" class="swiper-no-swiping">
    <ion-slide>

      <h1>Carrito vacío</h1>
      <br>

    </ion-slide>
  </ion-slides>
  
  <ion-slides *ngIf="carritoService.productos.length === 0" style="padding-top: 60px;" class="swiper-no-swiping">
      <ion-slide>
          <ion-button shape="round" expand="full" size="small" fill="outline" color="primary" routerLink="/inicio">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>Ir a la tienda</ion-label> 
            </ion-button>
      </ion-slide>
    </ion-slides>

  <ion-list padding #lista>
    <ion-item-sliding *ngFor="let p of productos">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{p.urlImagen}}" style="height: 85px; width: 60px;">
        </ion-thumbnail>
        <ion-label text-wrap>
          <h3 style="font-weight: bold;">
            {{ p.nombre}}
          </h3>
        </ion-label>

        <ion-label slot="end">
          <h4 style="padding-top: 12px;">
            {{ p.precio }} $
          </h4>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option expandable color="danger" (click)="borrarProducto(p)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-card *ngFor="let p of productos">
    <ion-list>

    </ion-list>
  </ion-card> -->

  <ion-grid fixed padding>
    <ion-row>
      <ion-col size="4">

      </ion-col>
      <ion-col size="4">
        <h5 style="font-weight: bold;">TOTAL CARRITO </h5>
      </ion-col>
      <ion-col size="4">
        <h5 style="font-weight: bold;">{{total}} $ </h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card>
    <ion-button expand="full" color="primary" (click)="obtenerTotal()">Total</ion-button>
  </ion-card> -->

  <ion-card *ngIf="total>0">
    <ion-card-content no-border>

      <ion-button shape="round" expand="full" size="small" fill="outline" color="primary" routerLink="/inicio">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label>Seguir comprando</ion-label>
      </ion-button>

      <ion-button shape="round" expand="full" size="small" fill="outline" color="success" (click)="payWithPaypal()">
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label>Finalizar compra</ion-label>
      </ion-button>

      <!-- <ion-button expand="full" color="primary" routerLink="/inicio">Seguir comprando</ion-button>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Finalizar compra</ion-button> -->
    </ion-card-content>
  </ion-card>

</ion-content>

