<ion-header>
  <ion-toolbar color="canasta">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding>
    <ion-item-sliding *ngFor="let p of productos">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{p.urlImagen}}" style="height: 85px; width: 60px;">
        </ion-thumbnail>
        <ion-label text-wrap>
          <h3 style="font-weight: bold;">
            {{ p.nombre}}
          </h3>
        </ion-label>

        <ion-label slot="end">
          <h4 style="padding-top: 12px;">
            {{ p.precio }} $
          </h4>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option expandable color="danger" (click)="borrarProducto(p)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-card *ngFor="let p of productos">
    <ion-list>

    </ion-list>
  </ion-card> -->

  <ion-grid fixed padding>
    <ion-row>
      <ion-col size="4">

      </ion-col>
      <ion-col size="4">
        TOTAL
      </ion-col>
      <ion-col size="4">
        {{total}} $
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-button expand="full" color="primary" (click)="obtenerTotal()">Total</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Pagar con PayPal</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>