<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="canasta">
      <ion-title>Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle>
        <ion-item routerLink="/inicio" routerDirection="root">
          <ion-icon slot="start" name="home" color="canasta"></ion-icon>
          <ion-label> Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item-divider color="canasta">
        <ion-label>
          Categorias
        </ion-label>
      </ion-item-divider>


      <ion-menu-toggle *ngFor="let c of componentes">
        <ion-item [routerLink]="['/','productos-categoria', c.nombre]" detail>
          <ion-avatar slot="start">
            <img src="{{c.urlImagen}}">
          </ion-avatar>
          <ion-label>{{c.nombre}}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item-divider color="canasta">
        <ion-label>
          Usuario
        </ion-label>
      </ion-item-divider>
      <ion-menu-toggle>
        <ion-item routerLink="/acerca" routerDirection="root">
          <ion-icon slot="start" name="alert" color="canasta"></ion-icon>
          <ion-label> Acerca de</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/inicio" routerDirection="root">
          <ion-icon slot="start" name="contact" color="canasta"></ion-icon>
          <ion-label> Cuenta</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/inicio" routerDirection="root">
          <ion-icon slot="start" name="log-out" color="canasta"></ion-icon>
          <ion-label> Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>